html
    head
        link(href="https://fonts.googleapis.com/css?family=Anton|Bangers|Bowlby+One+SC|Lobster|Roboto|Shadows+Into+Light" rel="stylesheet")
        link(href="/css/styles.css" rel="stylesheet")
    body
        .msg-container
        .heading
            h1 #{name}'s Kra
        .description
            h2 #{year} Q#{quarter}:
            h3 #{description}
        .rating
            h2 Rating: 
            h3 #{rating}
        .comment
            h2 Comment:
            h3 #{comment}

